.container{
	img{
		width:100%;
	}
}

.header{
	text-align:center;
	max-width:800px;
	padding:0 10px;
	margin:3em auto 2em;
	@media @mobile {
		margin: 3em auto 0;
	}

	h1{
		margin: 0;
		font-size:90px;
		font-family:Pierpont-bold;
		line-height:1;
		text-transform:uppercase;
		letter-spacing:3px;

		@media @tablet{
			font-size:50px;
		}
	}

	.deck{
		font-family:@med-graphics;
		padding-top: 2em;

		@media @tablet{
			font-size:18px;
			line-height:1.2;
		}
	}

	.date{
		margin-bottom:0;
	}
}

.caption{
	margin:0;
	font-size:18px;
	font-family:@med-graphics;
	padding-top: 10px;
	@media @mobile {
		font-size: 16px;
	}
}
.vertical{
	max-width:500px;
}

.img{
	margin: 4em auto;
	@media @mobile {
		margin: 3em auto;
	}
}

a {
	cursor: pointer;
}
