<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>


    <div class="container">

      <div class="header">
        <% var data = json.warriors_2017_gallery %>
        <h1><%= data.Headline %></h1>
        <div class="date"><%= data.Date %></div>
        <div class="deck"><%= data.Deck %></div>
      </div>

      <% json.warriors_2017_gallery['images'].forEach(function(img) { %>
        <div class="img <%= img.Size %>">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= img.Wcm_id %>/5/2000x0.jpg">
          <div class="caption"><%= img.Caption %> <span class="byline"> <%= img.Photographer %></span></div>
        </div>

     <% }); %>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
